
.servicios-contenedor{
    background-color: rgb(193, 227, 216);
    max-width: 25rem;
    padding: 1rem;
    border-radius: 0,5rem;
}


.header-background {
  background-image: url("..header-background");
  background-size: cover;
  background-position: center;
}